#content .container-fluid .row .col-md-2 {
  overflow: hidden;
  min-height: 250px;
  min-height: 250px;
  box-sizing: border-box;
  padding: 15px;
}

#content .col-md-2 .imginfo {
  display: block;
  width: 100%;
  height: 250px;
}
